meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Fundamentación de la teoría de sistemas y procesos
meta(meta name="description" content="La teoría general de sistemas es una manera de pensar sobre los sistemas y de sus componentes, comprende las siguientes disciplinas: Ingeniería de sistemas, la teoría de la información, cibernética, teoría de juegos, teoría de decisión. Todas las organizaciones desarrollan procesos que constituyen los métodos de trabajo empleados para aportar valor a sus clientes. Los procesos se pueden representar gráficamente a través del mapa de procesos y permiten una adecuada gestión proporcionando una mejora en los resultados obtenidos a todos los niveles.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")