h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span #[strong 220501092-01]. Caracterizar los procesos de la organización de acuerdo con el software a construir.






