.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th(style="width:160px") Enlace del recurso

            tbody
                tr
                    td digignos.com
                    td Vídeo
                    td 
                        a(href="https://www.youtube.com/watch?v=-U-RQKJ9KKg ", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver

                tr
                    td Aiteco.com 
                    td Documento
                    td 
                        a(href="https://www.aiteco.com/origen-del-mapa-de-procesos/", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver


                tr
                    td Decidesoluciones.es 
                    td Documento
                    td 
                        a(href="https://decidesoluciones.es/gestion-por-procesos-de-negocio-bpm/", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver                                                


                tr
                    td Sistema de Gestión de Calidad
                    td Video
                    td 
                        a(href="https://www.aiteco.com/origen-del-mapa-de-procesos/", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver


                tr
                    td Video realizado por Lteam sobre los aspectos básicos de la gestión por procesos según las normas ISO y el Anexo SL.
                    td Vídeo
                    td 
                        a(href="https://decidesoluciones.es/gestion-por-procesos-de-negocio-bpm/", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver                         