.container

    .header-ecored
        h1 2.	Procesamiento de datos  


    .card

        .card-body.p-5

            h2 2.1 Datos e información 

            p.mt-4 En el diseño y creación de sistemas de software, el objetivo principal es servir de apoyo a las empresas para el manejo de la información y de los datos, además del conocimiento que esto pueda generar para que la organización pueda mejorar en sus procesos, por eso es importante distinguir estos elementos que se describen a continuación:

        .position-relative
            a(href="media/documentos/2.1.datos_informacion.pdf", target="_blank")
                img.card-img-top(src='assets/images/pages/tema-2/tema-21.png').img-fluid

            .position-absolute(style="bottom: 16px; right: 16px")
                section.my-5
                    a(href="media/documentos/2.1.datos_informacion.pdf" target="_blank").media-link      
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p #[strong Anexo]. Datos e información 


    .card
        .card-body.p-5

            h2 2.2 Características   

            p.mt-4 En este apartado se describen las características básicas de la información para que sea útil y genere conocimiento a la empresa sirviendo como apoyo en las decisiones que deben tomar los altos directivos de las empresas.

            p.mt-4 Examine la tabla en donde se resumen las #[strong características de la información]:


            .row.justify-content-center.align-items-center.mt-4
                .col-11.col-md-9

                    .row
                        .col-2(style="background: #C6EEF7")
                            .p-3
                                strong Exacta
                        .col(style="background: #DDF5FA")
                            .p-3
                                p La información es exacta, cuando carece de errores. La información se vuelve inexacta cuando los datos ingresados para su procesamiento son inexactos.


                    .row
                        .col-2(style="background: #D9F5FC")
                            .p-3
                                strong Completa
                        .col(style="background: #EBFDFF")
                            .p-3
                                p Para que la información sea completa debe contener todos los datos importantes, si falta uno de los datos importantes la información se convierte en incompleta.

                    .row
                        .col-2(style="background: #C6EEF7")
                            .p-3
                                strong Económica
                        .col(style="background: #DDF5FA")
                            .p-3
                                p La producción de la información debe ser económica. Los responsables de la toma de decisiones deben evaluar el costo de la producción de la información.


                    .row
                        .col-2(style="background: #D9F5FC")
                            .p-3
                                strong Flexible
                        .col(style="background: #EBFDFF")
                            .p-3
                                p La información debe ser flexible en tanto que pueda ser útil para varios propósitos.
                               

                    .row
                        .col-2(style="background: #C6EEF7")
                            .p-3
                                strong Conﬁable
                        .col(style="background: #DDF5FA")
                            .p-3
                                p Para que la información sea confiable depende de muchos factores, entre ellos se pueden enumerar: fuente de información y forma de recolección de datos. 


                    .row
                        .col-2(style="background: #D9F5FC")
                            .p-3
                                strong Pertinente
                        .col(style="background: #EBFDFF")
                            .p-3
                                p Es la que realmente presta utilidad al encargado de la toma de decisiones.

                    .row
                        .col-2(style="background: #C6EEF7")
                            .p-3
                                strong Simple
                        .col(style="background: #DDF5FA")
                            .p-3
                                p La información compleja y sobrecargada impide que el encargado de la toma de decisiones no identifique la información realmente importante.


                    .row
                        .col-2(style="background: #D9F5FC")
                            .p-3
                                strong Oportuna
                        .col(style="background: #EBFDFF")
                            .p-3
                                p La información debe ser obtenida justo en el momento en que se requiere. 
                                                             
                    .row
                        .col-2(style="background: #C6EEF7")
                            .p-3
                                strong Simple
                        .col(style="background: #DDF5FA")
                            .p-3
                                p La información compleja y sobrecargada impide que el encargado de la toma de decisiones no identifique la información realmente importante.


                    .row
                        .col-2(style="background: #D9F5FC")
                            .p-3
                                strong Veriﬁcable
                        .col(style="background: #EBFDFF")
                            .p-3
                                p La información se debe poder comprobar a partir de las fuentes de obtención para verificar.                                                             


                    .row
                        .col-2(style="background: #C6EEF7")
                            .p-3
                                strong Accesible
                        .col(style="background: #DDF5FA")
                            .p-3
                                p La información debe ser de fácil acceso para los usuarios que la requieran, debe presentarse en el formato adecuado y en momento esperado para satisfacer las necesidades. 


                    .row
                        .col-2(style="background: #D9F5FC")
                            .p-3
                                strong Segura
                        .col(style="background: #EBFDFF")
                            .p-3
                                p Debe encontrarse protegida contra el acceso de usuarios no autorizados.                                   



            p.mt-5 Para diseñar el plan para obtener la mejor información, se estudiará a continuación cada uno de los métodos de obtenerla y se entregaran pautas para poder elegir el que mejor método que se adecue al proyecto. Para iniciar este trabajo es importante tener claro los conceptos y diferencias que existe entre:


            .row.justify-content-center.mt-5

                .col-10.col-md-8
                    .card-media
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-2/tema-22-1.svg").img-fluid
                            p.card__copy 
                                span 
                                    |  #[strong Método]. Se define como el modo en que se procede y los procedimientos seguidos para hallar la verdad acerca del objeto de investigación.


                .col-10.col-md-8
                    .card-media
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-2/tema-22-2.svg").img-fluid
                            p.card__copy 
                                span 
                                    |  #[strong Técnica]. Conjunto de reglas y procedimientos que permiten al investigador establecer la relación con el objeto o sujeto de la investigación.

                .col-10.col-md-8
                    .card-media
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-2/tema-22-3.svg").img-fluid
                            p.card__copy 
                                span 
                                    |  #[strong Herramienta]. Mecanismo que usa el investigador para recolectar y registrar la información: formularios, pruebas, test, escalas de opinión, listas de chequeo. 


    .card
        .card-body.p-5

            h2 2.3 Métodos de recolección de datos      

            p.mt-4 Para obtener la información que se requiere para desarrollar un software que sirva de apoyo a las empresas, se debe realizar un proceso de recolección de datos.                           

            p.mt-4 Estudie los diferentes métodos interactivos y discretos que se explican a continuación:

        .position-relative
            a(href="media/documentos/2.3.metodos_recoleccion_datos.pdf", target="_blank")
                img.card-img-top(src='assets/images/pages/tema-2/tema-23.png').img-fluid

            .position-absolute(style="bottom: 16px; right: 16px")
                section.my-5
                    a(href="media/documentos/2.3.metodos_recoleccion_datos.pdf" target="_blank").media-link      
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p #[strong Anexo]. Métodos de recolección de datos                  


    .card
        .card-body.p-5

            h2 2.4. Los sistemas de información     

            p.mt-4 Se han estudiado conceptos generales de sistemas y aspectos básicos sobre información, ahora en este apartado se unen estos dos términos que son la base para desarrollar un sistema de información. 

        .bg-color-gris
            .p-5
                .row.align-items-center
                    .col
                        .pl-5
                            p #[strong Consulte la biblioteca digital]. Para comprender la información lo invitamos a leer el capítulo No.1 Pág. 28 del siguiente libro: 

                            section.my-5

                                a(href="http://www.digitaliapublishing.com.bdigital.sena.edu.co/a/5780/concepto-de-sistemas-de-informacion-en-las-organizaciones" target="_blank").media-link      
                    
                                    img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon

                                    .media-link-title
                                        p #[strong Biblioteca digital]. Collado, P & Antoni J (2002). Concepto de Sistemas de información en la organización Editorial  UOC Papers.                  

                    .col-auto
                        img(src='assets/images/pages/tema-2/tema-23-libro.svg').img-fluid                            